[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
x509_extensions = v3_req

[dn]
C = IN
ST = Local
L = Local
O = FullInterview
OU = Jitsi Local
CN = 192.168.29.242

[v3_req]
subjectAltName = @alt_names

[alt_names]
IP.1 = 192.168.29.242
DNS.1 = localhost
DNS.2 = 192.168.29.242.nip.io
